# on master, put this file in /etc/systemd/system/home-assistant@homeassistant.service
# run:
#   sudo systemctl daemon-reload
#   sudo systemctl enable home-assistant@homeassistant.service
#   sudo systemctl start home-assistant@homeassistant.service
#
#   journalctl -fu home-assistant@homeassistant.service

[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=simple
User=%i
# https://community.home-assistant.io/t/custom-log-file-location/12360/15
ExecStart=/srv/homeassistant/bin/hass --config /home/homeassistant/.homeassistant --log-file /dev/null
Environment=PATH=/opt/github.com/stuart12/python-scripts:/opt/github.com/stuart12/stuart-system/home-automation/bin:/opt/github.com/stuart12/delcom-clock:/home/homeassistant/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
