# A systemd Unit file to start mcp9809mqtt
[Unit]
Description=Start mcp9809mqtt to publish temperatures from a MCP9808 to MQTT
Documentation=https://github.com/stuart12/python-scripts/blob/master/mcp9809mqtt
Documentation=https://learn.adafruit.com/adafruit-mcp9808-precision-i2c-temperature-sensor-guide/python-circuitpython
After=network-online.target
[Service]
UMask=022
RuntimeDirectory=%N
RuntimeDirectoryMode=0700
WorkingDirectory=%t/%N
Environment=HOME=%t/%N
Environment=ADDRESS=0x19
Environment=TOPIC=home/bedroom/temperature
ExecStartPre=+/bin/bash -ec 'sed -ne "s/mqtt: *//p" ~homeassistant/.homeassistant/secrets.yaml > $HOME/passwd'
ExecStartPre=/usr/bin/pip3 --no-cache-dir install RPI.GPIO adafruit-circuitpython-mcp9808 paho-mqtt
ExecStart=/opt/github.com/stuart12/python-scripts/mcp9809mqtt --user skldhf84d --passwdfile %t/%N/passwd --topic $TOPIC -a $ADDRESS --loglevel info

DynamicUser=true
Group=i2c
DeviceAllow=char-i2c rw
DevicePolicy=closed
CapabilityBoundingSet=
NoNewPrivileges=true
PrivateUsers=true
ProtectControlGroups=true
#ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true
MemoryDenyWriteExecute=true
#SystemCallFilter=@system-service
#TemporaryFileSystem=/var:ro /docker:ro /media:ro
InaccessiblePaths=/mnt /boot
MemoryHigh=512M
CPUQuota=8%
TasksMax=6

[Install]
WantedBy=multi-user.target
