# homeassistant must only use the first of the input devices provided by this
# Ortek numeric keypad
# sudo udevadm test $(udevadm info --query=path --name  /dev/input/event1) > /tmp/1 2>&1
# sudo udevadm test $(udevadm info --query=path --name  /dev/input/event2) > /tmp/2 2>&1
# sdiff -w 160 /tmp/{1,2}

KERNEL=="event*", SUBSYSTEM=="input", ENV{ID_VENDOR}=="ORTEK", ENV{ID_MODEL}=="USB_Keyboard_Hub", ENV{ID_INPUT_KEYBOARD}=="1", GROUP="homeassistant", MODE="0660"
