# put this file in /etc/systemd/system/spotifyd-run.service
# run:
#   sudo systemctl daemon-reload
#   sudo systemctl enable spotifyd-run
#   sudo systemctl restart spotifyd-run
#
#   journalctl -fu spotifyd-run.service

[Unit]
Description=Run Spotifyd
Documentation=https://github.com/Spotifyd/spotifyd
After=network-online.target
After=spotifyd-compile.service
Wants=spotifyd-compile.service
JoinsNamespaceOf=spotifyd-compile.service
Wants=pulseaudio.service
After=pulseaudio.service

[Service]
DynamicUser=true
Type=simple
Group=pulse-access
Nice=-6
UMask=077
RuntimeDirectory=%N
Environment=HOME=%t/%N
Environment=PULSE_SINK=Snapcast
#Environment=debug=--verbose
#Environment=pipe=/run/pulse-snapcast/fifo

#ExecStartPre=test -w $pipe
#Environment="backend=--backend alsa --device default"
#Environment="backend=--backend pipe --device /run/pulse-snapcast/fifo"
Environment="backend=--backend pulseaudio"
ExecStartPre=cp /dev/null %t/%N//spotifyd.conf
ExecStartPre=+cp /etc/spotifyd.conf %t/%N/spotifyd.conf
ExecStart=/tmp/spotifyd --no-daemon --config-path %t/%N/spotifyd.conf $backend --bitrate 320 --volume-control softvol $debug
#TimeoutStopSec=8s
RestartSec=13s
Restart=always

DevicePolicy=closed
IPAddressDeny=localhost link-local 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
MemoryHigh=1G
CapabilityBoundingSet=
ProtectSystem=strict
ProtectHome=tmpfs
PrivateTmp=true
PrivateUsers=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
NoNewPrivileges=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
