# put this file in /etc/systemd/system/spotifyd@homeassistant.service
# run:
#   sudo systemctl daemon-reload
#   sudo systemctl enable spotify-http\@homeassistant.service
#   sudo systemctl start spotify-http\@homeassistant.service
#
#   journalctl -fu spotify-http\@homeassistant.service
#
#   https://github.com/Spotifyd/spotifyd

[Unit]
Description=Spotifyd
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/bin/sh -c 'exec /usr/local/bin/spotifyd-http --name 47control $$(sed -ne "/^\\(\\(username\\)\\|\\(password\\)\\|\\(bitrate\\)\\|\\(backend\\)\\) *= */s//--\\1 /"p /etc/spotifyd.conf)'
Environment=PATH=/opt/github.com/stuart12/python-scripts:/opt/github.com/stuart12/stuart-system/home-automation/bin:/opt/github.com/stuart12/delcom-clock:/home/homeassistant/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
TimeoutStopSec=1000ms

[Install]
WantedBy=multi-user.target
