# sudo systemctl daemon-reload && sudo systemctl restart homeassistant ; systemctl status --no-pager homeassistant
# journalctl -f -u  homeassistant

# Must work with the systemd in Debian stable (232)

[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=homeassistant
Group=homeassistant
RuntimeDirectory=%N
WorkingDirectory=%t/%N
Environment=HOME=%t/%N
StandardOutput=journal
StandardError=journal
Environment=XDG_CACHE_HOME=/srv/%N/cache
Environment=VERSION=
#Environment=VERSION===0.79.3

# no BindPaths in systemd 232

# https://www.home-assistant.io/docs/installation/raspberry-pi/
ExecStartPre=/bin/sh -c 'dpkg -s python3 python3-venv python3-pip libffi-dev > /dev/null'
ExecStartPre=/usr/bin/python3 -m venv ve
ExecStartPre=/bin/sh -c '. ve/bin/activate && python3 -m pip install wheel'
ExecStartPre=/bin/sh -c '. ve/bin/activate && python3 -m pip install homeassistant$VERSION'
ExecStart=/bin/sh -c '. ve/bin/activate && exec hass -c /srv/%N/config --log-rotate-days 10'

ReadWritePaths=/srv/%N

ProtectHome=true
PrivateUsers=true
PrivateTmp=true
CapabilityBoundingSet=
NoNewPrivileges=true
DevicePolicy=closed

ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK

[Install]
WantedBy=multi-user.target
