# put this file in /etc/systemd/system/pulseaudio@homeassistant.service
# run:
#   sudo systemctl daemon-reload
#   sudo systemctl enable pulseaudio\@homeassistant.service
#   sudo systemctl restart pulseaudio\@homeassistant.service
#   sudo systemctl status pulseaudio\@homeassistant.service
#
#   journalctl -fu pulseaudio\@homeassistant.service
#

[Unit]
Description=Pulse Audio
RequiresMountsFor=/var /run /var/run
# https://github.com/masmu/pulseaudio-dlna/issues/159
# https://www.digitalocean.com/community/tutorials/understanding-systemd-units-and-unit-files
Requires=sound.target dbus.service network-online.target
After=sound.target dbus.service network-online.target

[Service]
Type=forking
# 82d5c54b2463767f42c85934000004ab is the machine id as found in /var/lib/dbus/machine-id
# https://lists.freedesktop.org/archives/pulseaudio-discuss/2012-April/013415.html
# http://stackoverflow.com/questions/10152762/best-way-to-get-machine-id-on-linux
PIDFile=/home/%i/.config/pulse/82d5c54b2463767f42c85934000004ab-runtime/pid

ExecStart=/usr/bin/python3 \
	-c 'import resource, sys, os; \
		print("does /tmp/snapfifo exist?", os.path.lexists("/tmp/snapfifo"), file=sys.stderr); sys.stderr.flush(); \
		resource.setrlimit(resource.RLIMIT_NICE, (-11, -11)); \
		os.execvp("sudo", \
			[ \
				"sudo", \
				"-u", \
				"%i", \
				"--", \
				"/usr/bin/pulseaudio", \
				"--exit-idle-time=-1", \
				"--disallow-exit", \
				"--daemonize=yes", \
				"--use-pid-file=yes", \
				"--high-priority", \
			] \
		);'
User=root

[Install]
WantedBy=multi-user.target
