# home assistant configuration for the central server
---
homeassistant:
  name: kooka
  unit_system: metric
  time_zone: Europe/Paris
  latitude: 48.839548
  longitude: 2.395671
  elevation: 36
  customize:
    #sensor.bedroom_full:
      #hidden: true
    sensor.mpd_media_title:
      hidden: true

history:  # Enables support for tracking state changes over time.
logbook:  # View all events in a logbook
config:  # Enables configuration UI
frontend:  # Enables the frontend

http:
  base_url: http://192.168.0.8:8123 # required by spotify?

mqtt:
  username: skldhf84d
  password: !secret mqtt
  client_id: kooka
  broker: bedroom

media_player:
  - platform: snapcast
    host: 127.0.0.1
  - platform: spotify
    client_id: !secret spotify_client
    client_secret: !secret spotify_secret
  - platform: mpd
    host: 192.168.0.8
    password: !secret mpd_passwd

#  mqtt_eventstream:
#    publish_topic: master/kooka
#    subscribe_topic: slaves/bedroom

mqtt_statestream:
  base_topic: salon

# https://home-assistant.io/cookbook/perform_actions_based_on_input_select/
input_select:
  radio_station:
    name: Radio Station
    options:
      - RFI Monde
      - RFI Afrique
      - France Culture
      - ABC Radio National MP3
      - France Info
      - BBC World Service (AAC)
      - BBC Radio 4
      - Public Radio International PRI 24 Hour Stream
      - Audiophile Classical
      - FIP
      - Chérie FM
      - Radio Tram
      - Radio 9090 90.9
      - Nogoum FM 100.6
      - 181.FM - Vocal Jazz
      - '#1 Jazz Radio'
      - '.977 Smooth Jazz'
      - None
    initial: None
    icon: mdi:radio

automation:
  - alias: Set Volume For Other Than BBC
    trigger:
      - platform: state
        entity_id: sensor.mpd_media_title
        from: 'bbc_world_service.m3u8'
    action:
      - service: media_player.volume_set
        data_template:
          entity_id: media_player.mpd
          volume_level: 0.8
  - alias: Increase Volume For BBC
    trigger:
      - platform: state
        entity_id: sensor.mpd_media_title
        to: 'bbc_world_service.m3u8'
    action:
      - service: media_player.volume_set
        data_template:
          entity_id: media_player.mpd
          volume_level: 1.0
  - alias: Cap Spotify Volume
    trigger:
      - platform: numeric_state
        entity_id: media_player.spotify
        value_template: '{{ state.attributes.volume_level }}'
        above: 0.80
    action:
      - service: media_player.volume_set
        data_template:
          entity_id: media_player.spotify
          volume_level: 0.80
  - alias: Clear radio choice on MPD stop
    trigger: # https://home-assistant.io/docs/automation/trigger/
      - platform: state
        entity_id: media_player.mpd
        to: 'paused'
    action:
        service: input_select.select_option
        data: # https://home-assistant.io/components/input_select/
          entity_id: input_select.radio_station
          option: None
  - alias: Wakeup telephone on mpd start
    trigger:
      - platform: state
        entity_id: media_player.mpd
        to: 'playing'
    action:
      - service: script.telephone_awake
  - alias: Stop Spotify on mpd Start
    trigger: # https://home-assistant.io/docs/automation/trigger/
      - platform: state
        entity_id: media_player.mpd
        to: 'playing'
    condition:
      - condition: template
        value_template: "{{ is_state_attr('media_player.spotify', 'source', '47spots') }}"
    action:
      - service: media_player.media_pause
        data:
          entity_id: media_player.spotify
  - alias: Pause MPD on Spotify set to 47spots
    trigger: # https://www.home-assistant.io/docs/automation/trigger/
      - platform: template
        value_template: '{{ is_state_attr("media_player.spotify", "source", "47spots") }}'
    condition:
      - condition: state
        entity_id: media_player.spotify
        state: playing
    action:
      - service: media_player.media_pause
        data:
          entity_id: media_player.mpd
  - alias: Stop MPD on Spotify Start
    trigger: # https://home-assistant.io/docs/automation/trigger/
      - platform: state
        entity_id: media_player.spotify
        to: 'playing'
    condition:
      - condition: template
        value_template: '{{ is_state_attr("media_player.spotify", "source", "47spots") }}'
    action:
      - service: media_player.media_pause
        data:
          entity_id: media_player.mpd

  - alias: telephone_sleep
    trigger:
      - platform: mqtt
        topic: 'telephone'
        payload: sleep
    action:
      - service: automation.turn_off
        entity_id: automation.telephone_sleep
      - service: shell_command.telephone_mode
        data:
          value: --on
      - delay:
          minutes: 1
      - service: automation.turn_on
        entity_id: automation.telephone_sleep
  - alias: telephone_awake
    trigger:
      - platform: mqtt
        topic: 'telephone'
        payload: awake
    action:
      - service: automation.turn_off # https://community.home-assistant.io/t/limit-automation-triggering/14915
        entity_id: automation.telephone_awake
      - service: script.telephone_awake
      - service: automation.turn_on
        entity_id: automation.telephone_awake
  - alias: key backspace mqtt message (next mpd)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key backspace
    condition:
      - condition: state
        entity_id: media_player.mpd
        state: playing
    action:
      - service: media_player.media_next_track
        data:
          entity_id: media_player.mpd
  - alias: key backspace mqtt message (next spotify)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key backspace
    condition:
      - condition: state
        entity_id: media_player.spotify
        state: playing
    action:
      - service: media_player.media_next_track
        data:
          entity_id: media_player.spotify
  - alias: key 1 mqtt message (RFI Monde)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key 1
    action:
      - service: shell_command.radio_info
        data:
            value: RFI Monde
  - alias: key 2 mqtt message (France Culture)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key 2
    action:
      - service: shell_command.radio_info
        data:
            value: France Culture
  - alias: key 3 mqtt message (BBC WS)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key 3
    action:
      - service: shell_command.radio_info
        data:
            value: BBC World Service (AAC)
  - alias: key 4 mqtt message (BBC 4)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key 4
    action:
      - service: shell_command.radio_info
        data:
            value: BBC Radio 4
  - alias: key 5 mqtt message (podcast)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key 5
    action:
      - service: shell_command.playnewestpod
  - alias: key 6 mqtt message (Spotify)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key 6
    action:
      - service: script.play_spotify
  - alias: key 7 mqtt message (PRI)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key 7
    action:
      - service: shell_command.radio_info
        data:
            value: Public Radio International PRI 24 Hour Stream
  - alias: key 8 mqtt message (FIP)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key 8
    action:
      - service: shell_command.radio_info
        data:
            value: FIP
  - alias: key 9 mqtt message (mpd)
    trigger:
      - platform: mqtt
        topic: keyboard
        payload: key 9
    action:
      - service: media_player.media_play
        data:
          entity_id: media_player.mpd
  - alias: shutdown snapcast
    trigger:
      - platform: state
        entity_id: media_player.mpd
        to: paused
        for: 10
      - platform: state
        entity_id: media_player.mpd
        to: 'off'
        for: 10
      - platform: state
        entity_id: media_player.spotify
        to: idle
        for: 10
      - platform: state
        entity_id: media_player.spotify
        to: paused
        for: 10
    condition:
        condition: and
        conditions:
            - condition: or
              conditions:
                  - condition: state
                    entity_id: media_player.mpd
                    state: paused
                    for: 10
                  - condition: state
                    entity_id: media_player.mpd
                    state: 'off'
                    for: 10
            - condition: or
              conditions:
                  - condition: state
                    entity_id: media_player.spotify
                    state: idle
                    for: 10
                  - condition: state
                    entity_id: media_player.spotify
                    state: paused
                    for: 10
    action:
        - service: media_player.volume_mute
          data:
              is_volume_muted: true
              entity_id: media_player.snapcast_client_bedroom
        - service: media_player.volume_mute
          data:
              is_volume_muted: true
              entity_id: media_player.snapcast_client_entrance
        - service: media_player.volume_mute
          data:
              is_volume_muted: true
              entity_id: media_player.snapcast_client_bathroom
  - alias: radio mqtt message
    trigger:
      - platform: mqtt
        topic: 'radio'
    action: # https://community.home-assistant.io/t/passing-variables-from-mqtt-trigger-payload-to-shell-script/23047/4
      - service: shell_command.radio_info
        data_template:
          value: '{{ trigger.payload }}'
  - alias: Play Spotify
    trigger:
      - platform: mqtt
        topic: 'message'
        payload: 'spotify play'
    action:
      - service: script.play_spotify
  - alias: Play Democracy Now
    trigger:
      - platform: mqtt
        topic: 'message'
        payload: 'democracynow'
    action:
      - service: shell_command.democracynow
  - alias: Play Podcast
    trigger:
      - platform: mqtt
        topic: 'message'
        payload: 'playnewestpod'
    action:
      - service: shell_command.playnewestpod
  - alias: message_leaving
    trigger:
      - platform: mqtt
        topic: 'message'
        payload: 'leaving'
    action:
      - service: media_player.media_pause
        data:
          entity_id: media_player.mpd
      - service: media_player.media_pause
        data:
          entity_id: media_player.spotify
  - alias: Amps Off
    trigger:
      - platform: mqtt
        topic: 'message'
        payload: 'amps off'
    action:
      - service: media_player.media_pause
        data:
          entity_id: media_player.mpd
      - service: media_player.media_pause # fails if no device set
        data:
          entity_id: media_player.spotify
  - alias: bedroom clock
    trigger:
      - platform: event
        event_type: bedroom.switch.delcom_clock.state
    action:
      service: media_player.turn_off
  - alias: Choose From Radio List
    trigger:
      - platform: state
        entity_id: input_select.radio_station # https://home-assistant.io/components/input_select/
    action:
      - service: shell_command.radio_info
        data_template:
          value: '{{ states.input_select.radio_station.state }}'
script:
  telephone_awake:
      sequence:
      - service: shell_command.telephone_mode
        data:
          value: "--off"
  play_spotify:
      alias: Play Spotify
      sequence:
      - service: media_player.select_source
        data:
          entity_id: media_player.spotify
          source: 47spots
      - wait_template: "{{ is_state_attr('media_player.spotify', 'source', '47spots') }}"
        timeout: '00:01:00' # https://community.home-assistant.io/t/spotify-404-from-api-from-time-to-time/61362/4
      - service: media_player.media_play
        data:
          entity_id: media_player.spotify
  bedroom_volume_down:
    alias: Bedroom Volume Down
    sequence:
      - service: mqtt.publish
        data:
          topic: 'message'
          payload: 'bedroom volume down'
  bedroom_volume_up:
    alias: Bedroom Volume Up
    sequence:
      - service: mqtt.publish
        data:
          topic: 'message'
          payload: 'bedroom volume up'
  living_volume_down:
    alias: Living Volume Down
    sequence:
      - service: mqtt.publish
        data:
          topic: 'message'
          payload: 'living volume down'
  living_volume_up:
    alias: Living Volume Up
    sequence:
      - service: mqtt.publish
        data:
          topic: 'message'
          payload: 'living volume up'
  living_on:
    alias: Living Amplifier On
    sequence:
      - service: mqtt.publish
        data:
          topic: 'message'
          payload: 'amplifier living on'
      - service: media_player.volume_mute
        data:
          entity_id: media_player.snapcast_client_entrance
          is_volume_muted: false
  living_off:
    alias: Living Amplifier Off
    sequence:
      - service: mqtt.publish
        data:
          topic: 'message'
          payload: 'amplifier living off'

shell_command:
  telephone_mode: 'airplane-mode --verbose --serial W6HDU16223003158 {{ value }}'
  radio_info: 'radioinfo_mpd.py "{{ value }}"'
  playnewestpod: 'playnewestpod --cache $SRV/playnewestpod --config $SRV/playnewestpod'
  democracynow: 'playnewestpod --cache $SRV/playnewestpod --config $SRV/playnewestpod http://www.democracynow.org/podcast.xml'

logger: # https://home-assistant.io/docs/mqtt/logging/
  default: warn
  logs:
    homeassistant.components.mqtt: warn
    homeassistant.components.shell_command: debug
    custom_components.tcp_listener: debug
    custom_components.stuart_sensor: debug

binary_sensor:
# https://home-assistant.io/components/binary_sensor.mqtt/
  - name: Is Holiday
    platform: mqtt
    state_topic: "states/is_holiday"
    payload_on: 'on'
    payload_off: 'off'
sensor:
  - name: VMC
    platform: mqtt
    state_topic: "home/vmc/power"
    unit_of_measurement: W
  - platform: tcp
    host: localhost
    port: 21035
    name: 3.5″ disk
    value_template: "{{ value|regex_replace(find='\n')|regex_replace(find='.*drive state is: *')|regex_replace(find='/.*') }}"
    payload: ""
  - platform: tcp
    host: localhost
    port: 21025
    name: 2.5″ disk
    value_template: "{{ value|regex_replace(find='\n')|regex_replace(find='.*drive state is: *')|regex_replace(find='/.*') }}"
    payload: ""
  - platform: template
    sensors:
      mpd_media_title:
        value_template: "{{ states.media_player.mpd.attributes['media_title'] | default('Nothing playing') }}"
      bedroom:
        value_template: "{{ states.sensor.bedroom_full.state | round(1) }}"
  - platform: command_line
    name: CPU Temp
    command: "cat /sys/class/thermal/thermal_zone2/temp"
    unit_of_measurement: "°C"
    value_template: '{{ value | multiply(0.001) | round(1) }}'
  - name: MX500
    platform: tcp
    host: localhost
    port: 7635
    payload: ""
    value_template: "{{ value.split('|')[3] | int }}"
    unit_of_measurement: "°C"
#  - name: 840 EVO
#    platform: tcp
#    host: localhost
#    port: 21125
#    payload: "{{ value | float }}"
#    unit_of_measurement: "°C"
  - name: pi_full
    platform: mqtt
    state_topic: "home/pi/temperature"
    unit_of_measurement: "°C"
    force_update: true
    value_template: "{{ value_json | float }}"
  - name: bedroom_full
    platform: mqtt
    state_topic: "home/bedroom/temperature"
    unit_of_measurement: "°C"
    force_update: true
    value_template: "{{ value_json | float }}"

history_graph:
  bedroom_temperature:
    refresh: 60
    hours_to_show: 480
    entities:
      - sensor.bedroom_full
  disk_temperature:
    refresh: 60
    hours_to_show: 48
    entities:
      - sensor.cpu_temp
      - sensor.MX500
      - sensor.840_EVO
  disks_states:
    name: Disk States
    refresh: 60
    hours_to_show: 48
    entities:
      - sensor.2_5_disk
      - sensor.3_5_disk
