[Unit]
Description=Home Assistant
After=network.target
Requires=lirc.service

[Service]
Type=simple
User=%i
ExecStart=/srv/homeassistant/bin/hass -c /home/homeassistant/.homeassistant
Environment="PATH=/home/homeassistant/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target
